:root {
  --color-primary-100: #FCEAE0;
  --color-primary-200: #FAD1C2;
  --color-primary-300: #F0AEA0;
  --color-primary-400: #E18C83;
  --color-primary-500: #CD5C5C;
  --color-primary-600: #B0434C;
  --color-primary-700: #932E3F;
  --color-primary-800: #761D34;
  --color-primary-900: #62112D;
  --color-primary-transparent-100: #CD5C5C1A;
  --color-primary-transparent-200: #CD5C5C33;
  --color-primary-transparent-300: #CD5C5C4D;
  --color-primary-transparent-400: #CD5C5C66;
  --color-primary-transparent-500: #CD5C5C80;
  --color-primary-transparent-600: #CD5C5C99;
  --color-primary-transparent-700: #CD5C5CB3;
  --color-primary-transparent-800: #CD5C5CCC;
  --color-primary-transparent-900: #CD5C5CE6;
  --color-primary-100-transparent-100: #FCEAE01A;
  --color-primary-100-transparent-300: #FCEAE04D;
  --color-primary-100-transparent-500: #FCEAE080;
  --color-primary-100-transparent-700: #FCEAE0B3;
  --color-primary-100-transparent-900: #FCEAE0E6;
  --color-primary-900-transparent-100: #62112D1A;
  --color-primary-900-transparent-300: #62112D4D;
  --color-primary-900-transparent-500: #62112D80;
  --color-primary-900-transparent-700: #62112DB3;
  --color-primary-900-transparent-900: #62112DE6;
  --color-success-100: #F4FDDB;
  --color-success-200: #E8FBB8;
  --color-success-300: #D3F392;
  --color-success-400: #BCE774;
  --color-success-500: #9DD849;
  --color-success-600: #7DB935;
  --color-success-700: #609B24;
  --color-success-800: #467D17;
  --color-success-900: #33670E;
  --color-success-transparent-100: #9DD8491A;
  --color-success-transparent-200: #9DD84933;
  --color-success-transparent-300: #9DD8494D;
  --color-success-transparent-400: #9DD84966;
  --color-success-transparent-500: #9DD84980;
  --color-success-transparent-600: #9DD84999;
  --color-info-100: #DBFAFF;
  --color-info-200: #B7F1FF;
  --color-info-300: #93E4FF;
  --color-info-400: #78D5FF;
  --color-info-500: #4CBDFF;
  --color-info-600: #3794DB;
  --color-info-700: #2670B7;
  --color-info-800: #184F93;
  --color-info-900: #0E387A;
  --color-info-transparent-100: #4CBDFF1A;
  --color-info-transparent-200: #4CBDFF33;
  --color-info-transparent-300: #4CBDFF4D;
  --color-info-transparent-400: #4CBDFF66;
  --color-info-transparent-500: #4CBDFF80;
  --color-info-transparent-600: #4CBDFF99;
  --color-warning-100: #FFF8D6;
  --color-warning-200: #FFEEAE;
  --color-warning-300: #FFE385;
  --color-warning-400: #FFD767;
  --color-warning-500: #FFC535;
  --color-warning-600: #DBA226;
  --color-warning-700: #B7811A;
  --color-warning-800: #936210;
  --color-warning-900: #7A4C0A;
  --color-warning-transparent-100: #FFC5351A;
  --color-warning-transparent-200: #FFC53533;
  --color-warning-transparent-300: #FFC5354D;
  --color-warning-transparent-400: #FFC53566;
  --color-warning-transparent-500: #FFC53580;
  --color-warning-transparent-600: #FFC53599;
  --color-danger-100: #FFE7DB;
  --color-danger-200: #FFC8B7;
  --color-danger-300: #FFA493;
  --color-danger-400: #FF8278;
  --color-danger-500: #FF4C4F;
  --color-danger-600: #DB3748;
  --color-danger-700: #B72642;
  --color-danger-800: #93183A;
  --color-danger-900: #7A0E36;
  --color-danger-transparent-100: #FF4C4F1A;
  --color-danger-transparent-200: #FF4C4F33;
  --color-danger-transparent-300: #FF4C4F4D;
  --color-danger-transparent-400: #FF4C4F66;
  --color-danger-transparent-500: #FF4C4F80;
  --color-danger-transparent-600: #FF4C4F99;
  --color-primary-tint-100: #ffffff;
  --color-primary-tint-098: #fefcfc;
  --color-primary-tint-096: #fdf8f8;
  --color-primary-tint-094: #fcf5f5;
  --color-primary-tint-092: #fbf2f2;
  --color-primary-tint-090: #faefef;
  --color-primary-tint-088: #f9ebeb;
  --color-primary-tint-086: #f8e8e8;
  --color-primary-tint-084: #f7e5e5;
  --color-primary-tint-082: #f6e2e2;
  --color-primary-tint-080: #f5dede;
  --color-primary-tint-078: #f4dbdb;
  --color-primary-tint-076: #f3d8d8;
  --color-primary-tint-074: #f2d5d5;
  --color-primary-tint-072: #f1d1d1;
  --color-primary-tint-070: #f0cece;
  --color-primary-tint-068: #efcbcb;
  --color-primary-tint-066: #eec8c8;
  --color-primary-tint-064: #edc4c4;
  --color-primary-tint-062: #ecc1c1;
  --color-primary-tint-060: #ebbebe;
  --color-primary-tint-058: #eabbbb;
  --color-primary-tint-056: #e9b7b7;
  --color-primary-tint-054: #e8b4b4;
  --color-primary-tint-052: #e7b1b1;
  --color-primary-tint-050: #e6aeae;
  --color-primary-tint-048: #e5aaaa;
  --color-primary-tint-046: #e4a7a7;
  --color-primary-tint-044: #e3a4a4;
  --color-primary-tint-042: #e2a0a0;
  --color-primary-tint-040: #e19d9d;
  --color-primary-tint-038: #e09a9a;
  --color-primary-tint-036: #df9797;
  --color-primary-tint-034: #de9393;
  --color-primary-tint-032: #dd9090;
  --color-primary-tint-030: #dc8d8d;
  --color-primary-tint-028: #db8a8a;
  --color-primary-tint-026: #da8686;
  --color-primary-tint-024: #d98383;
  --color-primary-tint-022: #d88080;
  --color-primary-tint-020: #d77d7d;
  --color-primary-tint-018: #d67979;
  --color-primary-tint-016: #d57676;
  --color-primary-tint-014: #d47373;
  --color-primary-tint-012: #d37070;
  --color-primary-tint-010: #d26c6c;
  --color-primary-tint-008: #d16969;
  --color-primary-tint-006: #d06666;
  --color-primary-tint-004: #cf6363;
  --color-primary-tint-002: #ce5f5f;
  --color-primary-base-000: #cd5c5c;
  --color-primary-shade-002: #c95a5a;
  --color-primary-shade-004: #c55858;
  --color-primary-shade-006: #c15656;
  --color-primary-shade-008: #bd5555;
  --color-primary-shade-010: #b95353;
  --color-primary-shade-012: #b45151;
  --color-primary-shade-014: #b04f4f;
  --color-primary-shade-016: #ac4d4d;
  --color-primary-shade-018: #a84b4b;
  --color-primary-shade-020: #a44a4a;
  --color-primary-shade-022: #a04848;
  --color-primary-shade-024: #9c4646;
  --color-primary-shade-026: #984444;
  --color-primary-shade-028: #944242;
  --color-primary-shade-030: #904040;
  --color-primary-shade-032: #8b3f3f;
  --color-primary-shade-034: #873d3d;
  --color-primary-shade-036: #833b3b;
  --color-primary-shade-038: #7f3939;
  --color-primary-shade-040: #7b3737;
  --color-primary-shade-042: #773535;
  --color-primary-shade-044: #733434;
  --color-primary-shade-046: #6f3232;
  --color-primary-shade-048: #6b3030;
  --color-primary-shade-050: #672e2e;
  --color-primary-shade-052: #622c2c;
  --color-primary-shade-054: #5e2a2a;
  --color-primary-shade-056: #5a2828;
  --color-primary-shade-058: #562727;
  --color-primary-shade-060: #522525;
  --color-primary-shade-062: #4e2323;
  --color-primary-shade-064: #4a2121;
  --color-primary-shade-066: #461f1f;
  --color-primary-shade-068: #421d1d;
  --color-primary-shade-070: #3e1c1c;
  --color-primary-shade-072: #391a1a;
  --color-primary-shade-074: #351818;
  --color-primary-shade-076: #311616;
  --color-primary-shade-078: #2d1414;
  --color-primary-shade-080: #291212;
  --color-primary-shade-082: #251111;
  --color-primary-shade-084: #210f0f;
  --color-primary-shade-086: #1d0d0d;
  --color-primary-shade-088: #190b0b;
  --color-primary-shade-090: #140909;
  --color-primary-shade-092: #100707;
  --color-primary-shade-094: #0c0606;
  --color-primary-shade-096: #080404;
  --color-primary-shade-098: #040202;
  --color-primary-shade-100: #000000;
}