:root {
  --color-primary-100: #FCEAE0;
  --color-primary-200: #FAD1C2;
  --color-primary-300: #F0AEA0;
  --color-primary-400: #E18C83;
  --color-primary-500: #CD5C5C;
  --color-primary-600: #B0434C;
  --color-primary-700: #932E3F;
  --color-primary-800: #761D34;
  --color-primary-900: #62112D;
  --color-primary-transparent-100: #CD5C5C1A;
  --color-primary-transparent-200: #CD5C5C33;
  --color-primary-transparent-300: #CD5C5C4D;
  --color-primary-transparent-400: #CD5C5C66;
  --color-primary-transparent-500: #CD5C5C80;
  --color-primary-transparent-600: #CD5C5C99;
  --color-primary-transparent-700: #CD5C5CB3;
  --color-primary-transparent-800: #CD5C5CCC;
  --color-primary-transparent-900: #CD5C5CE6;
  --color-primary-100-transparent-100: #FCEAE01A;
  --color-primary-100-transparent-300: #FCEAE04D;
  --color-primary-100-transparent-500: #FCEAE080;
  --color-primary-100-transparent-700: #FCEAE0B3;
  --color-primary-100-transparent-900: #FCEAE0E6;
  --color-primary-900-transparent-100: #62112D1A;
  --color-primary-900-transparent-300: #62112D4D;
  --color-primary-900-transparent-500: #62112D80;
  --color-primary-900-transparent-700: #62112DB3;
  --color-primary-900-transparent-900: #62112DE6;
  --color-success-100: #F4FDDB;
  --color-success-200: #E8FBB8;
  --color-success-300: #D3F392;
  --color-success-400: #BCE774;
  --color-success-500: #9DD849;
  --color-success-600: #7DB935;
  --color-success-700: #609B24;
  --color-success-800: #467D17;
  --color-success-900: #33670E;
  --color-success-transparent-100: #9DD8491A;
  --color-success-transparent-200: #9DD84933;
  --color-success-transparent-300: #9DD8494D;
  --color-success-transparent-400: #9DD84966;
  --color-success-transparent-500: #9DD84980;
  --color-success-transparent-600: #9DD84999;
  --color-info-100: #DBFAFF;
  --color-info-200: #B7F1FF;
  --color-info-300: #93E4FF;
  --color-info-400: #78D5FF;
  --color-info-500: #4CBDFF;
  --color-info-600: #3794DB;
  --color-info-700: #2670B7;
  --color-info-800: #184F93;
  --color-info-900: #0E387A;
  --color-info-transparent-100: #4CBDFF1A;
  --color-info-transparent-200: #4CBDFF33;
  --color-info-transparent-300: #4CBDFF4D;
  --color-info-transparent-400: #4CBDFF66;
  --color-info-transparent-500: #4CBDFF80;
  --color-info-transparent-600: #4CBDFF99;
  --color-warning-100: #FFF8D6;
  --color-warning-200: #FFEEAE;
  --color-warning-300: #FFE385;
  --color-warning-400: #FFD767;
  --color-warning-500: #FFC535;
  --color-warning-600: #DBA226;
  --color-warning-700: #B7811A;
  --color-warning-800: #936210;
  --color-warning-900: #7A4C0A;
  --color-warning-transparent-100: #FFC5351A;
  --color-warning-transparent-200: #FFC53533;
  --color-warning-transparent-300: #FFC5354D;
  --color-warning-transparent-400: #FFC53566;
  --color-warning-transparent-500: #FFC53580;
  --color-warning-transparent-600: #FFC53599;
  --color-danger-100: #FFE7DB;
  --color-danger-200: #FFC8B7;
  --color-danger-300: #FFA493;
  --color-danger-400: #FF8278;
  --color-danger-500: #FF4C4F;
  --color-danger-600: #DB3748;
  --color-danger-700: #B72642;
  --color-danger-800: #93183A;
  --color-danger-900: #7A0E36;
  --color-danger-transparent-100: #FF4C4F1A;
  --color-danger-transparent-200: #FF4C4F33;
  --color-danger-transparent-300: #FF4C4F4D;
  --color-danger-transparent-400: #FF4C4F66;
  --color-danger-transparent-500: #FF4C4F80;
  --color-danger-transparent-600: #FF4C4F99;

}